# Data Types

In programming, data type is an important concept. Variables can store data of different types, and different data types are used to do different things.

Every value in Python has a datatype. Since everything is an **object** in Python we can think of data types as classes and variables as instances (objects) of these classes.

Built-in Python data type includes --

    Text Type:	str
    Numeric Types:	int, float, complex
    Sequence Types:	list, tuple, range
    Mapping Type:	dict
    Set Types:	set, frozenset
    Boolean Type:	bool
    Binary Types:	bytes, bytearray, memoryview

In Python, you don't have to declare the data type beforehand, the data type is set when you assign a value to a variable. If you want to specify a certain data type, you can use the **constructor functions** (i.e. str, dict, int) to do so. You can also use the constructor functions to convert between data types (Only if the value to be converted is supported in both the data types).
    
    Ex: num_text = str(20).

We can see the data type of any object by using the `type()` function and using `isinstance()` can be used to check if an object belongs to a particular class.

### Some key terms

#### Immutable objects

Immutable Objects are objects that do not support index based assignment opperations. In Python **int, float, bool, string, unicode, tuple** are Immutable Objects.

#### Iterables

An iterator is an object that can be iterated upon, meaning that you can traverse through all the values. Technically, in Python, an iterator is an object that implements the iterator protocol, which consist of the methods __iter__() and __next__().

**Lists, tuples, dictionaries, and sets** are all iterable objects. They are iterable containers from which you can get an iterator. All these objects have an iter() method which is used to get an iterator.

In [1]:
fruits = ("apple", "banana", "cherry")
fruit_iter = iter(fruits)

print(next(fruit_iter))
print(next(fruit_iter))

apple
banana

#### Indexing

Indexing means referring to an element of an iterable by its position within that particular iterable. In python indexing **starts from 0**. Meaning, the first element of an iterable is indexed as 0 and the other elements are **indexed increamentaly** after that.

But, in case of **negative indexing** it **starts at -1 from the back**.

#### Slicing

Slicing means getting a subset of elements from an iterable based on their indices.

## Numbers

The 'Number' data type is not subscriptable i.e. it can't be accessed using indexes and it's also immutable.

The Python "Number" data type includes Integers, Floats and Complex numbers. This data type can handle all four major types of number system i.e. Decimal, Binary, Octal and Hexadecimal. By default any number is treated as a decimal number. To use other types of number system use **0b, 0o, 0x** preceeding the number for binary, octal and hexadecimal numbers respectively.

In [2]:
# Number system conversion
print(f"Integer equivalent of 0xFB: {int('0xFB', 16)} \tOctal equivalent of binary 0b1101010: {oct(0b1101010)}")

Integer equivalent of 0xFB: 251 	Octal equivalent of binary 0b1101010: 0o152

## String

Strings are sequences of character data.

String literals may be delimited using either single or double quotes. All the characters between the opening delimiter and matching closing delimiter are part of the string. To represent a multi-line string you can use triple quotes (""".....""").

#### Escape Sequences in Strings

Sometimes, you want Python to interpret a character or sequence of characters within a string differently. This may occur in one of two ways:

- You may want to suppress the special interpretation that certain characters are usually given within a string. For example, to use quote signs in a string (\\') or to use the backslash (\\\\) sign in a string etc.
- You may want to apply special interpretation to characters in a string which would normally be taken literally. For example, to enter a newline (\n) or to use a tab in the string (\t) etc.

You can accomplish this using a backslash (\\) character. A backslash character in a string indicates that one or more characters that follow it should be treated specially. (This is referred to as an escape sequence, because the backslash causes the subsequent character sequence to “escape” its usual meaning.)

#### Raw String
A raw string literal is preceded by r or R, which specifies that escape sequences in the associated string are not translated.

In [3]:
print(r'foo\\bar')

foo\\bar

#### Formatted String

In [4]:
pi = 22 / 7
print("the result is {r:.3f}".format(r=pi))

the result is 3.143

In [5]:
quote = "to be or not to be"

#### String Slicing

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters. Since strings are arrays, we can loop through the characters in a string, with a for loop or we can slice out a portion out of it using indices.

In [6]:
quote[::-1]  # [start here:stop upon reaching here:step-over value]

'eb ot ton ro eb ot'

#### String Concatenation

In [7]:
# Strings can be concataned with one another but not with other data types.
string = "string"
c_string = "Concatanted" + " " + string
print(c_string)

# The arithmatic multiplication operation on a string repeats the string
r_string = "repeated string " * 2
print(r_string)

Concatanted string
repeated string repeated string

#### Some useful string operations

In [8]:
# To check if a certain phrase or character is present in a string,
print("be" in quote)
# To check if a certain phrase or character is not present in a string,
print("me" not in quote)

True
True

#### Useful string methods

In [9]:
quote.upper()

'TO BE OR NOT TO BE'

In [10]:
quote.lower()

'to be or not to be'

In [11]:
quote.capitalize()

'To be or not to be'

In [12]:
quote.replace("be", "me")

'to me or not to me'

In [13]:
"    hello!, hola     ".strip()

'hello!, hola'

In [14]:
quote.split(" ")

['to', 'be', 'or', 'not', 'to', 'be']

In [15]:
quote.partition("or")

('to be ', 'or', ' not to be')

In [16]:
spl = quote.split(" ")
" ".join(spl)

'to be or not to be'

In [17]:
quote.startswith("to")

True

In [18]:
quote.endswith("be")  # but theres no .contains method. Though 'in' may do the trick

True

In [19]:
quote.find("or")

6

In [20]:
quote.count("be")

2

You can refer to (https://www.w3schools.com/python/python_strings_methods.asp) or read the official documentation for further reference.

## Boolean

Objects of Boolean type may have one of two values, True or False.

Almost any value is evaluated to True if it has some sort of content. Any string is True, except empty strings. Any number is True, except 0. Any list, tuple, set, and dictionary are True, except empty ones.

Some Values are False. In fact, there are not many values that evaluate to False, except empty values, such as ( ), [ ], { }, " ", the number 0, and the value None. And of course the value False evaluates to False.

## List

List is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. The items in a list need not to be of the same type. List also allows duplicate items.

List is defined by values separated by comma inside brackets [\-, \-, \-, \-].

Lists are mutable, i.e., value of any certain element in a list can be changed.

#### List Slicing

Lists can be accessed via indices and thus can be sliced in parts too.

In [21]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[-4:-1])

['orange', 'kiwi', 'melon']

#### Useful list methods

In [22]:
# Add Items

In [23]:
fruits.append("avocado")  # changes in place
fruits

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'melon', 'mango', 'avocado']

In [24]:
fruits.insert(4, "apple")  # changes in place
fruits

['apple',
 'banana',
 'cherry',
 'orange',
 'apple',
 'kiwi',
 'melon',
 'mango',
 'avocado']

In [25]:
fruits.extend(["pineapple", "papaya"])  # changes in place # you can pass the items to be added in a tuple too.
fruits

['apple',
 'banana',
 'cherry',
 'orange',
 'apple',
 'kiwi',
 'melon',
 'mango',
 'avocado',
 'pineapple',
 'papaya']

In [26]:
# Remove items

In [27]:
fruits.pop(1)

'banana'

In [28]:
fruits.remove("cherry")  # changes in place
fruits

['apple',
 'orange',
 'apple',
 'kiwi',
 'melon',
 'mango',
 'avocado',
 'pineapple',
 'papaya']

In [29]:
# fruits.clear  # empties the list. The list still remains, but it has no content.

In [30]:
fruits.count("apple")

2

In [31]:
fruits.index("avocado")

6

In [32]:
fruits.sort() # changes in place
fruits

['apple',
 'apple',
 'avocado',
 'kiwi',
 'mango',
 'melon',
 'orange',
 'papaya',
 'pineapple']

In [33]:
fruits.reverse()  # changes in place
fruits

['pineapple',
 'papaya',
 'orange',
 'melon',
 'mango',
 'kiwi',
 'avocado',
 'apple',
 'apple']

#### List unpacking

In [34]:
a,b,c, *d,e = [1,2,3,4,5,6,7,8,9,10]
print(f"a = {a}; b = {b}; c = {c}; d = {d}; e = {e}")

a = 1; b = 2; c = 3; d = [4, 5, 6, 7, 8, 9]; e = 10

#### List Comprehension

    syntax : [expression for item in iterable if conditional_statement]
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up becoming an item in the new list.

In [35]:
numbers_lst = [num ** 2 for num in range(0, 10) if num % 2 == 0]
numbers_lst

[0, 4, 16, 36, 64]

The expression can also contain conditions, not like a filter rather, as a way to manipulate the outcome:

In [36]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
fruits_newlist = [x if x != "banana" else "orange" for x in fruits]

print(fruits_newlist)

['apple', 'orange', 'cherry', 'orange', 'kiwi', 'melon', 'mango']

You can refer to (https://www.w3schools.com/python/python_lists_methods.asp) or, read the official documentation for further reference.

## Tuples

A tuple is an immutable list. Instead of brackets [ ] , a tuple is enclosed within paranthesis (). Similar to lists, tuples are ordered collection of items and being such the items can be accessed using indexes.

As tuples are indexed they can be accessed and sliced as like lists and strings but, since they are immutable you can not change the value of an item or, add items to it or, remove items from it once created.

#### Tuple unpacking

In [37]:
a,b,c, *d,e = (1,2,3,4,5,6,7,8,9,10)
print(f"a = {a}; b = {b}; c = {c}; d = {d}; e = {e}")

a = 1; b = 2; c = 3; d = [4, 5, 6, 7, 8, 9]; e = 10

#### Useful tuple methods

In [38]:
quote_words = ("to", "be", "or", "not", "to", "be")

In [39]:
quote_words.count("to")

2

In [40]:
quote_words.index("or")

2

## Set

Set is a collection which is unordered and unindexed. It doesn't allow duplicate members. Set is defined by values separated by comma inside braces { }.

As sets are unordered and unindexed you can't access a set item but, you can search if an item exists in that set or not with the `in` function. Since you can't access set items, you can't change them. But you can add or remove items from it.

#### Useful set methods

In [41]:
fruits = {"apple", "banana", "cherry"}

In [42]:
# Adding new items

In [43]:
fruits.add("orange")  # changes in place
fruits

{'apple', 'banana', 'cherry', 'orange'}

In [44]:
fruits.update(["kiwi", "mango"])  # changes in place # adds the items of an iterable to a set
fruits

{'apple', 'banana', 'cherry', 'kiwi', 'mango', 'orange'}

In [45]:
# Removing items

In [46]:
fruits.remove("kiwi")  # changes in place
fruits

{'apple', 'banana', 'cherry', 'mango', 'orange'}

In [47]:
fruits.discard("kiwi")  # changes in place # If doesn't exist, discard() will NOT raise an error.

In [48]:
# fruits.clear()  # empties the set

You can refer to (https://www.w3schools.com/python/python_sets_methods.asp) or read the official documentation for further reference.

#### Set comprehension

    syntax : {expression for item in iterable if conditional_statement}
The expression is the current item in the iteration, but it is also the outcome, which you can manipulate before it ends up becoming an item in the new set.

In [49]:
my_list = ['a', 'b', 'c', 'b', 'd', 'n', 'b', 'm', 'n']
duplicates = {char for char in my_list if my_list.count(char)>1}
print(duplicates)

{'n', 'b'}

## Dictionary

Characteristics of dictionary objects: 
- dictionary is an ordered collection of **key: value** pairs.
- a key must be unique and immutable i.e. number, string, tuple etc.
- can't be accessed by indexes rather they are accessed by keys.

In [50]:
user = {
    'name': 'maidul',
    'greet': 'welcome here',
    'age': 20
}

#### Useful dictionary methods

In [51]:
user.get('age', 33)  # if age doesn't exists then it will set the value to 33.

20

In [52]:
user.items()

dict_items([('name', 'maidul'), ('greet', 'welcome here'), ('age', 20)])

In [53]:
user.keys()

dict_keys(['name', 'greet', 'age'])

In [54]:
user.values()

dict_values(['maidul', 'welcome here', 20])

In [55]:
user.update({'age': 30})

In [56]:
user.pop("greet")  # changes in place

'welcome here'

In [57]:
# user.clear()  # empties the dictionary

You can refer to (https://www.w3schools.com/python/python_dictionaries_methods.asp) or read the official documentation for further reference.

#### Dictionary comprehension

    syntax : {key: value for key, value in iterable if conditional_statement}

In [58]:
sample_dict = {
    'a': 1,
    'b': 2,
    'c': 3,
    'd': 4
}
dict_comp = {key: value ** 2 for key, value in sample_dict.items() if value % 2 == 0}
print(dict_comp)

{'b': 4, 'd': 16}