# Reading data files from different sources and Writing data to different file formats

Although it's great that we can create Series and DataFrame objects with our custom data, in real world we will be mostly working with data that already exists. Also after cleaning up a data file we may like to export the cleaned up data to another file for future uses. This is why knowing how to read and write data files in pandas is very important.

In [1]:
# import statements
import numpy as np
import pandas as pd

There are a bunch of functions in pandas that deal with ingesting data. They all begin with
read_. Similarly, there are analagous exporting methods on the dataframe object. These exporting
methods start with .to_.

### Interacting with CSV/TSV files (and other similar filetypes)

- Reading from a **CSV** file: <b> pd.read_csv(filepath, sep, delimiter=None, index_col=None, dtype=None, na_values=None) </b>

1. filepath: can be any valid string input defing the path to be file like object i.e, an object that has a read() method. valid url can also be passed.
2. sep: separator (e.g. for tsv files, sep='\t').
3. delimiter: alias for separator.
4. index_col: int, str, sequence of int / str. Column(s) to use as the row labels of the DataFrame, either given as string name or column index. If a sequence of int / str is given, a MultiIndex is used.
5. dtype: data type of the values.
6. na_values: additional strings to recognize as NA/NaN.

This can also read zip files containing only a single csv/tsv file without the need of extracting. But, if there's multiple files in the zip file then it must be unzipped before use.

**Note:** One thing to be aware of is that by default, pandas will write the index values in a CSV, but when reading a CSV it will create a new index unless we specify a column for the index.

In [2]:
alta_df = pd.read_csv("./Data/alta-noaa-1980-2019.csv", parse_dates=["DATE"]).set_index(
    "DATE"
)
alta_df.index.astype("datetime64[ns]")
alta_df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DAPR,DASF,MDPR,MDSF,PRCP,...,SNWD,TMAX,TMIN,TOBS,WT01,WT03,WT04,WT05,WT06,WT11
DATE,,,,,,,,,,,,,,,,,,,,,
1980-01-01,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,NaN,NaN,NaN,NaN,0.10,...,29.0,38.0,25.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN
1980-01-02,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,NaN,NaN,NaN,NaN,0.43,...,34.0,27.0,18.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
1980-01-03,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,NaN,NaN,NaN,NaN,0.09,...,30.0,27.0,12.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
1980-01-04,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,NaN,NaN,NaN,NaN,0.00,...,30.0,31.0,18.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN
1980-01-05,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,NaN,NaN,NaN,NaN,0.00,...,30.0,34.0,26.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN

- Writing to a **CSV** file: <b>df.to_csv(path_or_buf, sep, na_rep, encoding, date_format)</b>

1. path_or_buf : filepath.
2. sep : str, delimiter for the output file (default - ',').
3. na_rep : str (default ''), Missing data representation.
4. mode : str, default 'w', Python write mode.
5. encoding: str, formatting to use in the output file. Default, 'utf-8'
6. date_format: Format string for datetime format. 
alta_df.to_csv('/tmp/alta_df.csv', na_rep='nan')

In [3]:
alta_df.to_csv("./tmp/alta_df.csv", na_rep="nan")  # be careful, ./tmp not /tmp

In [4]:
df = pd.read_csv("./tmp/alta_df.csv", index_col="DATE", na_values="nan")
df.index.astype("datetime64[ns]")
df.head()

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DAPR,DASF,MDPR,MDSF,PRCP,...,SNWD,TMAX,TMIN,TOBS,WT01,WT03,WT04,WT05,WT06,WT11
DATE,,,,,,,,,,,,,,,,,,,,,
1980-01-01,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,NaN,NaN,NaN,NaN,0.10,...,29.0,38.0,25.0,25.0,NaN,NaN,NaN,NaN,NaN,NaN
1980-01-02,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,NaN,NaN,NaN,NaN,0.43,...,34.0,27.0,18.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
1980-01-03,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,NaN,NaN,NaN,NaN,0.09,...,30.0,27.0,12.0,18.0,NaN,NaN,NaN,NaN,NaN,NaN
1980-01-04,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,NaN,NaN,NaN,NaN,0.00,...,30.0,31.0,18.0,27.0,NaN,NaN,NaN,NaN,NaN,NaN
1980-01-05,USC00420072,"ALTA, UT US",40.5905,-111.6369,2660.9,NaN,NaN,NaN,NaN,0.00,...,30.0,34.0,26.0,34.0,NaN,NaN,NaN,NaN,NaN,NaN

### Interacting with Excel Files

**Note:** You will have to make sure `openpyxl` is installed to use Excel support. Simply installing the pandas library usually will not install full Excel support.

In [5]:
# ! pip install openpyxl

- Reading from **Excel** file: **pd.read_excel(io, sheet_name, header, names, index_col, usecols, dtype, na_values, parse_dates)**

1. io : str, path object, or file-like object.
2. sheet_name : str, int, list, or None, default 0 (i.e, 1st sheet as a DataFrame).
    - Strings are used for sheet names. 
    - Integers are used in zero-indexed sheet positions (chart sheets do not count as a sheet position).
    - Lists of strings/integers are used to request multiple sheets.
    - Specify None to get all worksheets.
3. header : int, list of int, default 0. Row (0-indexed) to use for the column labels of the parsed DataFrame. If a list of integers is passed those row positions will be combined into a MultiIndex.
4. names : array-like, default None. List of column names to use. If file contains no header row, then you should explicitly pass header=None.
5. index_col : int, list of int, default None. Column (0-indexed) to use as the row labels of the DataFrame. If a subset of data is selected with usecols, index_col is based on the subset.
6. usecols : str, list-like, or callable, default None.
7. dtype : Type name or dict of column -> type, default None. 
8. na_values: Additional values to treat as NaN.
9. parse_dates: Columns to treat as datetime objects.

- Writing to **Excel** file: **df.to_excel(excel_writer, sheet_name, na_rep, columns)**

1. excel_writer : To write a single object to an Excel .xlsx file it is only necessary to specify a target file name. To write to multiple sheets it is necessary to create an `ExcelWriter` object with a target file name, and specify a sheet in the file to write to.
2. sheet_name : Name of sheet which will contain DataFrame.
3. na_rep : str (default ''), Missing data representation.
4. columns : sequence or list of str, optional. Columns to write.

**Note:** If there are any timezone aware datetime object in the dataframe we will first need to strip the timezone information using, `df.datetime_col.dt.tz_convert(tz=None)` before exporting to Excel.

In [7]:
# writing alta_df data of 2012 in a sheet named '2012' and data of 2013 in a sheet named '2013'

Writer = pd.ExcelWriter("./tmp/alta_df.xlsx")

alta_df_2012 = alta_df[
    alta_df.index.year == 2012
]  # or, alta_df.loc['2012': '2012-12-31']
alta_df_2013 = alta_df[alta_df.index.year == 2013]

alta_df_2012.to_excel(excel_writer=Writer, sheet_name="2012")
alta_df_2013.to_excel(excel_writer=Writer, sheet_name="2013")