## Introduction to Interacting with Relational Databases in Python

There are many packages we could use to access an SQLite database such as sqlite3 and SQLAlchemy. We'll use SQLAlchemy as it works with many other Relational Database Management Systems, such as Postgres and MySQL.

<u>Resources</u>

- Quick start guide: https://docs.sqlalchemy.org/en/20/orm/quickstart.html
- Detailed tutorial: https://docs.sqlalchemy.org/en/20/tutorial/index.html

### Import statements

In [1]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
import sqlalchemy as sa
from sqlalchemy import create_engine

### Establishing connection to a database

> To connect to a database we first need to create an engine that can properly handle the exact type of database we will be working with. The engine handles the communication with the original database. To create an engine we use the `create_engine(url, **kwargs)` function.

 
The `url` follows the format `dialect+driver://username:password@hostname:/databasename` where: 
- `dialect` is a database name such as sqlite, mysql, postgresql, oracle, or mssql. 
- `driver` is a DBAPI, such as pysqlite, psycopg2, pymysql, or mxodbc. 
- `username` is the username to connect with. 
- `password` is the password to connect with. 
- `hostname` is the hostname of the database server. 
- `databasename` is the name of the database to connect to.

**Note:** Special characters, such as those often part of passwords, must be URL encoded to be properly parsed.

In [3]:
# the Chinook database contains information about a semi-fictional digital media store in which
# media data is real and customer, employee and sales data has been manually created.
engine = create_engine("sqlite:///Chinook.sqlite")

In [4]:
[method for method in dir(engine) if method.startswith("_") == False]

['begin',
 'clear_compiled_cache',
 'connect',
 'dialect',
 'dispatch',
 'dispose',
 'driver',
 'echo',
 'engine',
 'execution_options',
 'get_execution_options',
 'hide_parameters',
 'logger',
 'logging_name',
 'name',
 'pool',
 'raw_connection',
 'update_execution_options',
 'url']

> Once the engine is created we can take a look at the tables in the database using an inspector object. The inspector object is created using the `sa.inspect(engine)` function. The inspector object has a `get_table_names()` method that returns a list of table names.

In [5]:
inspcetor = sa.inspect(engine)

In [6]:
inspcetor.get_table_names()

['Album',
 'Artist',
 'Customer',
 'Employee',
 'Genre',
 'Invoice',
 'InvoiceLine',
 'MediaType',
 'Playlist',
 'PlaylistTrack',
 'Track']

> To create a connection object we apply the method `connect()` to the engine object. To close the connection once we are done interacting with our database we simply call the `close()` method on the connection object.

In [7]:
conn = engine.connect()

### Querying the database

> To execute a query we use the `execute()` method on the connection object. The `execute()` method takes a `sa.text()` wrapped string as an argument. The string should be a valid SQL statement. The `execute()` method returns a `Result` object.

In [8]:
rs = conn.execute(sa.text("SELECT * FROM Album"))

In [9]:
type(rs)

sqlalchemy.engine.cursor.CursorResult

In [10]:
[method for method in dir(rs) if method.startswith("_") == False]

['all',
 'close',
 'closed',
 'columns',
 'connection',
 'context',
 'cursor',
 'cursor_strategy',
 'dialect',
 'fetchall',
 'fetchmany',
 'fetchone',
 'first',
 'freeze',
 'inserted_primary_key',
 'inserted_primary_key_rows',
 'is_insert',
 'keys',
 'last_inserted_params',
 'last_updated_params',
 'lastrow_has_defaults',
 'lastrowid',
 'mappings',
 'memoized_attribute',
 'memoized_instancemethod',
 'merge',
 'one',
 'one_or_none',
 'partitions',
 'postfetch_cols',
 'prefetch_cols',
 'returned_defaults',
 'returned_defaults_rows',
 'returns_rows',
 'rowcount',
 'scalar',
 'scalar_one',
 'scalar_one_or_none',
 'scalars',
 'splice_horizontally',
 'splice_vertically',
 'supports_sane_multi_rowcount',
 'supports_sane_rowcount',
 't',
 'tuples',
 'unique',
 'yield_per']

> The returned Result object has a `fetchall()` method that returns all the rows of the query result as a list of tuples. We can use `pd.DataFrame()` to convert the returned list of tuples to a pandas dataframe. Also, we can use the `keys()` method on the Result object to get the column names of the query result.

**Note:** After calling the `fetchall()` method once, calling it again will return just an empty list. So store the result of `fetchall()` in a variable if you want to use it more than once.

In [11]:
rs.keys()

RMKeyView(['AlbumId', 'Title', 'ArtistId'])

In [12]:
album_data = rs.fetchall()

In [13]:
album_df = pd.DataFrame(album_data)

In [14]:
album_df.head()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [15]:
# close the connection
conn.close()

In [16]:
conn.closed

True

> We can also use a context manager to create a connection object. This way we don't have to worry about closing the connection. To do this we use the `with` keyword and the `connect()` method on the engine object. We can then use the connection object to execute queries.

In [19]:
with engine.connect() as conn:
    rs = conn.execute(sa.text("SELECT * FROM Employee WHERE EmployeeId >= 6 ORDER BY BirthDate"))
    df = pd.DataFrame(rs.fetchall())

In [20]:
df.head()

,EmployeeId,LastName,FirstName,Title,ReportsTo,BirthDate,HireDate,Address,City,State,Country,PostalCode,Phone,Fax,Email
0,8,Callahan,Laura,IT Staff,6,1968-01-09 00:00:00,2004-03-04 00:00:00,923 7 ST NW,Lethbridge,AB,Canada,T1H 1Y8,+1 (403) 467-3351,+1 (403) 467-8772,laura@chinookcorp.com
1,7,King,Robert,IT Staff,6,1970-05-29 00:00:00,2004-01-02 00:00:00,590 Columbia Boulevard West,Lethbridge,AB,Canada,T1K 5N8,+1 (403) 456-9986,+1 (403) 456-8485,robert@chinookcorp.com
2,6,Mitchell,Michael,IT Manager,1,1973-07-01 00:00:00,2003-10-17 00:00:00,5827 Bowness Road NW,Calgary,AB,Canada,T3B 0C5,+1 (403) 246-9887,+1 (403) 246-9899,michael@chinookcorp.com